{% extends 'base.html' %}
{% load static %}
{% block mainContent %}
  <div class="header">
    <h1>Django Pagination Example</h1>
  </div>
  <div class="container">
      <h2>Customers</h2>
      <hr>

      <div>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Frist Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Gender</th>
                  <th scope="col">IP</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in customers  %}
                <tr>
                  <th scope="row">{{customer.id}}</th>
                  <td>{{customer.first_name}}</td>
                  <td>{{customer.last_name}}</td>
                  <td>{{customer.email}}</td>
                  <td>{{customer.gender}}</td>
                  <td>{{customer.ip}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </div>

      <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
        {% if customers.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ customers.previous_page_number }}" style="font-size:1rem !important;">&laquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in page_range %}
            {% if customers.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                </li>
            {% else %}
                {% if i == customers.paginator.ELLIPSIS %}
                    <li class="page-item"><span class="page-link">{{ i }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}" style="font-size:1rem !important;">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if customers.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}" style="font-size:1rem !important;">&raquo;</a></li>
        {% else %}
            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
        {% endif %}
      </ul> 
  </div>
{% endblock mainContent %}

